<article>
    <img class="issuecover-img"
         src="/assets/images/cover-tetiaroa1.jpg"
         alt="" />
    <section class="issue-intro">
        <ul class="journal-issue-list">
            {# // run on all articles until collection is up #}
            {% for article in articleQuery.articles %}
                <li>
                    <h3>
                        <a href="/articles/{{ article.shortId }}/index.html">{{ article.headerInfo.title }}</a>
                    </h3>
                    <p class="introtext">{{ article.parsedSubmission.$abstract | safe }}</p>
                    <p class="authors">
                        {% for author in article.headerInfo.authorNames %}
                            <span class="author-name">{{- author.firstName -}}&nbsp;{{- author.lastName -}}</span>
                            {% if not loop.last %},{% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        <a href="/articles/{{ article.shortId }}/index.html">Read the article</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </section>
</article>
