<footer>
    <div class="footer-info-container">
        <div class="footer-cms-page-info-container">
            <div class="footer-cms-page-listing">
                {% for cmsFooterPage in (cmsLayout.flaxFooterConfig | reorderPages(locale, page)) %}
                    {% if cmsFooterPage.config[locale].shownInMenu == true or cmsFooterPage.config[locale].shownInMenu == "true" %}
                        <div class="pageListItem">
                            <a
                            href="{{localeUrl}}{{ cmsFooterPage.url }}"
                            title="{{ cmsFooterPage.title[locale] }}">
                            {{ cmsFooterPage.title[locale] }}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="footerText">
            {{ cmsLayout.footerText[locale] | safe }}
        </div>
    </div>
</footer>