<section class="articles-list">

    {% for article in articleQuery.articles | reverse %}
        <article>
            <span class="topics"> {{article.parsedSubmission.topics | arrayToString}}  </span>
            <h2 class="article-title">
                <a href="/articles/{{article.id}}/index.html">{{article.meta.title}}</a>
            </h2>

            <span class="author-name">{{article.parsedSubmission.authorNames | arrayToString('lastName')}}</span>
            <p class="published-date">
                Published on <time datetime="article.publishedDate">{{ article.publishedDate | replace('Z','') | postDate }}</time>
            </p>
            
        </article>
{% endfor %}
</section>