{% include "./snippets/start.njk" %}
<body class=" journal-home">
    {% include "./snippets/menu.njk" %}
    <main>
        <header>
            <div class="background">
                <img src="/assets/images/cover-gumpstation1.jpg">
            </div>
            <div class="intro">
                <h1>Gump Field Station</h1>
            </div>
        </header>
        <div class="intro-text">
            <p>
                The iPlaces Gump Station Journal is committed to disseminating scientific projects conducted at the Gump Station. Traditionally, field station work remains obscured until journal articles are released months or even years later. However, the Gump Station Journal prioritizes early sharing through project marker paper publications, which serve as a foundation for subsequent data and publications. Drawing inspiration from the real-world Gump Station, the iPlaces platform enhances the understanding of research insights and methodologies vital for effective fieldwork, facilitating the formation of new connections.
            </p>
            <p class="links">
                <a href="/about/">Read more about Gump Station</a>
            </p>
        </div>
        {% if collectionItem.length > 0 %}
            {% include "./snippets/journal-noissue.njk" %}
        {% else %}
            {% for collectionItem in cmsCollections.collections %}
                {% include "./snippets/journal-issue.njk" %}
            {% endfor %}
        {% endif %}
        {% include "./snippets/footer.njk" %}
    </main>
</body>
{% include "./snippets/end.njk" %}
