{% include "./snippets/start.njk" %}
<body class="single">
    {% include "./snippets/menu.njk" %}
    {% set currentPage = cmsPage %}
    {% set title = cmsPage.title %}
    <main>
        <img src="/assets/images/cover-gumpstation1.jpg" alt="A color photo of the Tetiaroa atol">
        <article class="content">
            <header>
                <h1>{{ title }}</h1>
            </header>
            {{ cmsPage.content | safe }}
        </article>
    </main>
</body>
{% include "./snippets/end.njk" %}
