{% include "./snippets/start.njk" %}
<body class="single">
    {% include "./snippets/menu.njk" %}
    {% set currentPage = cmsPage %}
    <main>
         {# maybe reusing the cover from kotahi? #}
        <img src="/assets/images/cover-tetiaroa1.jpg" alt="{{ cover.alttext }}">
        <article class="content">
            <header>
                <h1>{{ cmsPage.title | safe }}</h1>
                {% if baseline %}<p class="intro">{{ baseline }}</p>{% endif %}
                {% if intro %}<p class="intro">{{ intro }}</p>{% endif %}
            </header>
        {{ cmsPage.content | safe }}
        </article>
    </main>
    {% include "./snippets/footer.njk" %}
</body>
{% include "./snippets/end.njk" %}
