.article-single {
  & main article {
    display: block;
    display: grid;
    margin: auto;
    grid-template-columns: [toc-start] 1fr [toc-end content-start] 3fr [content-end];
  }

  & .article-content-wrapper {
    grid-column: content;
    background: #fafafa;
    padding: 1em 5ch;

    min-height: 90vh;

    & .article-content {
      max-width: 100ch;
      margin: auto;
    }
  }
}

.article-single header {
  padding: 3em 5ch;
  background: var(--color-journal-background-dark);
  color: white;
  font-family: var(--font-sans);

  & .downloads {
    & h3 {
      margin-top: 5em;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
    }
  }

  & .download-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  & .dl-type {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5ch;
  }

  & h1 {
    font-size: 2.3em;
    line-height: 1.1;
    margin-bottom: 0.3em;
  }

  & .affiliationslist {
    font-size: 1.1em;
    margin-left: 0;
    padding-left: 0;
    margin: 0;
    font-family: var(--font-sans);
    font-variant: all-small-caps;
    line-height: 1.1;
    margin-top: 0.6em;
    margin-bottom: 0.6em;

    & li {
      display: inline;

      &::after {
        content: ", ";
      }

      &:last-of-type::after {
        content: "";
      }
    }
  }

  & .authorslist {
    font-size: 1.1em;
    margin-left: 0;
    padding-left: 0;
    margin: 0;
    font-family: var(--font-condensed);

    & li {
      display: inline;

      &::after {
        content: ", ";
      }

      &:last-of-type::after {
        content: "";
      }
    }
  }
}

.article-single .article-toc {
  padding: 0.5em 5ch;
  height: 100%;
  max-width: 40ch;
  font-family: var(--font-sans);

  & ol {
    position: sticky;
    top: 3em;
    list-style-type: none;
    padding: 0;

    & li {
      margin-bottom: 0.5em;
    }
  }

  & a {
    text-decoration: none;
  }
}

.article-content {
  font-weight: 400;

  & a {
    color: var(--color-journal);
    font-family: var(--font-sans);
    text-decoration-color: var(--color-journal-background-dark);
    font-size: 0.99em;
  }

  & :is(h1, h2, h3) {
    font-family: var(--font-sans);
  }

  & h3 {
    color: var(--color-journal-background-dark);
    font-size: 1.2em;
    font-family: var(--font-serif);
  }

  & table {
    /* border: px solid black; */
    font-family: var(--font-sans);

    border-collapse: collapse;
    width: 100%;

    & tr td {
      padding: 0.4em 0ch;
      border-bottom: 1px solid black;
    }
  }

  & figure {
    margin: 4em 0;
    border: 2px solid var(--color-journal-background-dark);
    background: white;
    padding: 3em 5ch;

    & figcaption {
      font-family: var(--font-sans);
      border-bottom: 1px solid var(--color-journal-background-main);
      margin-left: 0;
      margin-top: 2em;

      & strong:first-of-type {
        /* width: max-content; */

        padding: 0.3em 1ch 0.2em;
        display: inline-block;
        background: var(--color-journal-background);
      }
    }

    & img {
      /* border-top: 1px solid grey; */
    }
  }
}

.article-single {
  & .article-thumb {
    padding: 0;
    margin: 0;
    background: var(--color-journal-main);

    & img {
      border: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* //the toc */
.article-single .article-toc-wrapper {
  max-height: 100vh;
  position: sticky;
  top: 0;

  & .article-toc {
    position: sticky;
    top: 0;
  }
}


.article-single h1 .bclabel svg {
  fill: orange;
}
