/* nav in the topbar And in the menu */

nav {
  font-family: var(--font-sans);
}

.topbar button {
  border: 0;
  background: unset;
  border-bottom: 1px solid var(--color-main);
}

.topbar {
  font-family: var(--font-sans);
  font-weight: 600;
  /* padding: 1.5em 3ch 0.8em; */
  padding: 0.5em 2ch .3em;
  display: flex;
  gap: 5ch;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  /* border-bottom: 3px solid grey; */
  /* padding: 1.5em 4ch; */
}

.topbar .logo {
  font-weight: 400;
}

.topbar .logo svg {
  width: 100px;
  height: auto;
  fill: var(--color-main);
}

.topbar nav ul {
  align-items: last-baseline;
  justify-content: flex-end;
  list-style-type: none;
  font-style: italic;
  display: flex;
  gap: 5ch;

  & a {
    font-style: normal;
    text-decoration: none;
    word-spacing: 0.5ch;
  }

  & a:hover {
    color: var(--color-main);
  }
}

.topbar .menu-call {
  display: none;
}

@media screen and (max-width: 800px) {
  .topbar .menu-call {
    display: block;
  }

  .topbar nav {
    display: none;
  }

  .topbar nav.shown {
    display: flex;
  }

  .topbar nav ul {
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }
}

.logo {
  text-decoration: none;
  border-bottom: 0;
  margin: 0;
  font-weight: 300;

  & h1 {
    font-weight: 300;
    margin: 0;
  }
}
