@font-face {
  font-family: "Inria Sans";
  src: url("/assets/fonts/InriaSans-Light.eot");
  src: url("/assets/fonts/InriaSans-Light.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSans-Light.woff2") format("woff2"),
    url("/assets/fonts/InriaSans-Light.woff") format("woff"),
    url("/assets/fonts/InriaSans-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/assets/fonts/InriaSans-LightItalic.eot");
  src: url("/assets/fonts/InriaSans-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSans-LightItalic.woff2") format("woff2"),
    url("/assets/fonts/InriaSans-LightItalic.woff") format("woff"),
    url("/assets/fonts/InriaSans-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/assets/fonts/InriaSans-Italic.eot");
  src: url("/assets/fonts/InriaSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSans-Italic.woff2") format("woff2"),
    url("/assets/fonts/InriaSans-Italic.woff") format("woff"),
    url("/assets/fonts/InriaSans-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/assets/fonts/InriaSans-Regular.eot");
  src: url("/assets/fonts/InriaSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSans-Regular.woff2") format("woff2"),
    url("/assets/fonts/InriaSans-Regular.woff") format("woff"),
    url("/assets/fonts/InriaSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/assets/fonts/InriaSans-Bold.eot");
  src: url("/assets/fonts/InriaSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSans-Bold.woff2") format("woff2"),
    url("/assets/fonts/InriaSans-Bold.woff") format("woff"),
    url("/assets/fonts/InriaSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/assets/fonts/InriaSans-BoldItalic.eot");
  src: url("/assets/fonts/InriaSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSans-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/InriaSans-BoldItalic.woff") format("woff"),
    url("/assets/fonts/InriaSans-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/assets/fonts/InriaSerif-Light.eot");
  src: url("/assets/fonts/InriaSerif-Light.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSerif-Light.woff2") format("woff2"),
    url("/assets/fonts/InriaSerif-Light.woff") format("woff"),
    url("/assets/fonts/InriaSerif-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/assets/fonts/InriaSerif-LightItalic.eot");
  src: url("/assets/fonts/InriaSerif-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/InriaSerif-LightItalic.woff2") format("woff2"),
    url("/assets/fonts/InriaSerif-LightItalic.woff") format("woff"),
    url("/assets/fonts/InriaSerif-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/assets/fonts/InriaSerif-Italic.eot");
  src: url("/assets/fonts/InriaSerif-Italic.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSerif-Italic.woff2") format("woff2"),
    url("/assets/fonts/InriaSerif-Italic.woff") format("woff"),
    url("/assets/fonts/InriaSerif-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/assets/fonts/InriaSerif-Regular.eot");
  src: url("/assets/fonts/InriaSerif-Regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSerif-Regular.woff2") format("woff2"),
    url("/assets/fonts/InriaSerif-Regular.woff") format("woff"),
    url("/assets/fonts/InriaSerif-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/assets/fonts/InriaSerif-Bold.eot");
  src: url("/assets/fonts/InriaSerif-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSerif-Bold.woff2") format("woff2"),
    url("/assets/fonts/InriaSerif-Bold.woff") format("woff"),
    url("/assets/fonts/InriaSerif-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/assets/fonts/InriaSerif-BoldItalic.eot");
  src: url("/assets/fonts/InriaSerif-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/InriaSerif-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/InriaSerif-BoldItalic.woff") format("woff"),
    url("/assets/fonts/InriaSerif-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
