<footer>
    <section>
        <img src="/assets/images/logo-metaror.png" alt="">
        <menu>
            <li>
                <a href="/about-metaror/">About</a>
            </li>
            <li>
                <a href="/privacy">Privacy Notice</a>
            </li>
            <li>
                <a href="/forthepress">For the Press</a>
            </li>
            <li>
                <a href="/privacy">Terms and conditions</a>
            </li>
        </menu>
    </section>
    <section>
        <p>
            Contact <a href="mailto:enquiries@metaror.org">enquiries@metaror.org</a>
            <ul>
                <li>
                    <a href="linkedin">linkedin link</a>
                </li>
                <li>
                    <a href="x">twitter link</a>
                </li>
            </ul>
            <p>
                <a href="https://creativecommons.org/licenses/by/4.0/">


                    Creative Commons Attribution license, except where otherwise noted.</a>
            </p>
            <p>© 2023 MetaROR</p>
        </section>
    </footer>
