<section class="articles-list">
    {% if articleQuery.articles.length == 0 %}No articles published yet.{% endif %}
    {% for article in pagination.items %}
        <article>
            <p class="article-type">{{- article.parsedSubmission.objectType -}}</p>
            <p class="subjects">
                {% for topic in article.parsedSubmission.topics %}<span class="topic">{{ topic }}</span>{% endfor %}
            </p>
            <a href="/articles/{{ article.shortId }}">
                <h2>{{ article.parsedSubmission.$title }}</h2>
            </a>
            <div class="article-affiliations-list">
                <p class="authors">
                    {% for author in  article.parsedSubmission.$authors %}
                        {{- author.firstName -}}&nbsp;{{- author.lastName -}}
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                </p>
            </div>
            <p class="article-publishing-date">{{ article.parsedSubmission.datePublished | dateWrangler('en', 'long') }}</p>
            <a class="doi" href="https://doi.org/{{- article.doi -}}">https://doi.org/{{- article.parsedSubmission.$doi -}}</a>
        </article>
    {% endfor %}
</section>
