<aside class="topbar">
    {% include "_partials/logo.njk" %}
    <nav id="menu" class="hide">
        <menu>
            {# menu from the content block #}
            {# <li> #}
            {#     <a href="/articles/">Articles</a> #}
            {# </li> #}
            <li>
                <a href="/articles-list/page-{{ (articleQuery.articles.length / 10) | round(0, 'floor') + 1 }}/index.html"
                /">Articles</a>
            </li>
            {# <li> #}
            {#     <a href="/research">Research Articles</a> #}
            {# </li> #}
            {# <li> #}
            {#     <a href="/communities">Communities</a> #}
            {# </li> #}
            {# <li> #}
            {#     <a href="/research-in-practice">Research in Practices</a> #}
            {# </li> #}
            <li>
                <details>
                    <summary>About</summary>
                    <ul>
                        <li>
                            <a href="/about-metaror/">About Metaror</a>
                        </li>
                        <li>
                            <a href="/people/">The people behind MetaROR</a>
                        </li>
                        {#not there yet#}
                        {# <li> #}
                        {#     <a href="/about-metaror/">Publish > review > curate</a> #}
                        {# </li> #}
                    </ul>
                </details>
            </li>
            <li>
                <details>
                    <summary>Submit</summary>
                    <ul>
                        <li>
                            <a href="/instructions-authors/">Instructions for author</a>
                        </li>
                        <li>
                            <a href="/instructions-reviewers/">Instructions for reviewer</a>
                        </li>
                        <li>
                            <a href="#submit">Submission page</a>
                        </li>
                    </ul>
                </details>
            </li>
            <li>
                <a href="/contact/">Contact</a>
            </li>
            {% for cmsHeaderPage in (cmsLayout.flaxHeaderConfig | reorderPages) %}
                {# endif should get back to what we need.  #}
                {# {% if cmsHeaderPage.shownInMenu == true or cmsHeaderPage.shownInMenu == "true" %} #}
                <li>
                    <a href="{{ cmsHeaderPage.url }}" title="{{ cmsHeaderPage.title }}">{{ cmsHeaderPage.title }}</a>
                </li>
                {# {% endif %} #}
            {% endfor %}
        </menu>
    </nav>
    <button type="button" class="menu-call" id="menu-button">Menu</button>
</aside>
