@import url("./modules/_reset.css");
@import url("./modules/_fonts.css");
@import url("./modules/_variables.css");
@import url("./modules/_layout.css");
@import url("./modules/_menu.css");
@import url("./modules/_singlepage.css");
@import url("./modules/_homepage.css");
@import url("./modules/_texts.css");
@import url("./modules/_content.css");
@import url("./modules/_images.css");
@import url("./modules/_tables.css");
@import url("./modules/_article.css");
@import url("./modules/_crossref.css");
@import url("./modules/_footer.css");
@import url("./modules/_catalog.css");
@import url("./modules/_flax-custom.css");
@import url("./modules/_flax-slideshow.css");


@import url("./modules/_contactform.css");



/*custom metaror*/
main {

  & a:is([href="#submit"],
    [href="#submit-reviewer"]) {
    background: var(--color-main);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em 3ch;
    margin-top: 3em;
    display: block;
    max-width: max-content;
    border-radius: 8px;
  }
}



#parners-logo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5ch;

}

.home #partners-logo {
  display: flex;
  align-items: center;
  gap: 3ch;
  justify-content: space-around;
}

#partners-logo a {
  max-width: 600px;
  display: block;
  width: 50%;
}

.home .metarormail {
  color: white;
  margin-top: 2em;
  font-size: 1.8em;
}

.home .metarormail:hover {
  background: white;
  display: block;
  color: var(--color-main)
}


body {
  margin: auto;
  width: 90vw;
}


@media screen and (max-width:800px) {
  body {
    /* width: 100%; */
    font-size: .9em;
    padding: 1em 2ch;
    margin: auto;
  }

  .home {
    padding: 0;
    margin: auto;
  }

  .logo {
    display: none;

  }

  main {
    margin-top: 0;
    padding: 0;
  }

  .home #home-part2 {
    margin-top: 0;
    padding-top: 0;
  }

  .home #home-entry {
    background: transparent;
    margin-bottom: 0;
  }

  .home #home-entry::before {
    inset: 0;
    content: none;
  }

  .home main section>h2 {
    font-size: 1.6em;
    line-height: 1.35;
    font-weight: 700;
  }
}
