@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Light.woff2") format("woff2"), url("/fonts/InriaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-LightItalic.woff2") format("woff2"), url("/fonts/InriaSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Italic.woff2") format("woff2"), url("/fonts/InriaSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Regular.woff2") format("woff2"), url("/fonts/InriaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-Bold.woff2") format("woff2"), url("/fonts/InriaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inria Sans";
  src: url("/fonts/InriaSans-BoldItalic.woff2") format("woff2"), url("/fonts/InriaSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/InriaSerif-Light.woff2") format("woff2"), url("/fonts/InriaSerif-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/InriaSerif-LightItalic.woff2") format("woff2"), url("/fonts/InriaSerif-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/InriaSerif-Italic.woff2") format("woff2"), url("/fonts/InriaSerif-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/InriaSerif-Regular.woff2") format("woff2"), url("/fonts/InriaSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/InriaSerif-Bold.woff2") format("woff2"), url("/fonts/InriaSerif-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/InriaSerif-BoldItalic.woff2") format("woff2"), url("/fonts/InriaSerif-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

