*,
:before,
:after {
  box-sizing: border-box
}

body,
html {
  margin: 0
}

html {
  scroll-behavior: smooth
}

p {
  margin: 0
}

p+p {
  margin-top: 1em
}

html,
body {
  min-height: 100%
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5
}

html.scroll {
  scroll-behavior: smooth;
  scrollbar-gutter: stable
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block
}

input,
button,
textarea,
select {
  font: inherit
}

#root,
#__next {
  isolation: isolate
}

:target {
  scroll-margin-block-start: 1.3em
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/normal/400.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/normal/400.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/normal/400.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/normal/600.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/normal/600.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/normal/600.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/normal/900.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/normal/900.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/normal/900.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/italic/400.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/italic/400.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/italic/400.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/italic/600.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/italic/600.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/italic/600.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/italic/900.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/italic/900.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow/italic/900.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/normal/400.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/normal/400.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/normal/400.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/normal/600.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/normal/600.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/normal/600.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/normal/900.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/normal/900.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/normal/900.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow Condensed;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/italic/400.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow Condensed;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/italic/400.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow Condensed;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/italic/400.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow Condensed;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/italic/600.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow Condensed;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/italic/600.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow Condensed;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/italic/600.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Barlow Condensed;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/italic/900.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Barlow Condensed;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/italic/900.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Barlow Condensed;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/barlow-condensed/italic/900.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/400.woff2)format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/400.woff2)format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/400.woff2)format("woff2");
  unicode-range: U+370-3FF
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/400.woff2)format("woff2");
  unicode-range: U+1F??
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/400.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/400.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/400.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/600.woff2)format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/600.woff2)format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/600.woff2)format("woff2");
  unicode-range: U+370-3FF
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/600.woff2)format("woff2");
  unicode-range: U+1F??
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/600.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/600.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/600.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/900.woff2)format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/900.woff2)format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/900.woff2)format("woff2");
  unicode-range: U+370-3FF
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/900.woff2)format("woff2");
  unicode-range: U+1F??
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/900.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/900.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Alegreya;
  font-style: normal;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/normal/900.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/400.woff2)format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/400.woff2)format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/400.woff2)format("woff2");
  unicode-range: U+370-3FF
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/400.woff2)format("woff2");
  unicode-range: U+1F??
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/400.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/400.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/400.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/600.woff2)format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/600.woff2)format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/600.woff2)format("woff2");
  unicode-range: U+370-3FF
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/600.woff2)format("woff2");
  unicode-range: U+1F??
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/600.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/600.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/600.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/900.woff2)format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/900.woff2)format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/900.woff2)format("woff2");
  unicode-range: U+370-3FF
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/900.woff2)format("woff2");
  unicode-range: U+1F??
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/900.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/900.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Alegreya;
  font-style: italic;
  font-weight: 900;
  src: url(https://cdn.fonts.coollabs.io/alegreya/italic/900.woff2)format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Overlock SC;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock-sc/normal/600.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Overlock SC;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock-sc/normal/600.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Overlock SC;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock-sc/italic/500.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Overlock SC;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock-sc/italic/500.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Overlock SC;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock-sc/italic/600.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Overlock SC;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock-sc/italic/600.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Overlock;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock/normal/600.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Overlock;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock/normal/600.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Overlock;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock/italic/500.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Overlock;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock/italic/500.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Overlock;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock/italic/600.woff2)format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Overlock;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://cdn.fonts.coollabs.io/overlock/italic/600.woff2)format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

:root {
  --color-black: #223;
  --color-white: #fff;
  --color-blue: #087acc;
  --color-blue-darker: #032c8e;
  --color-blue-light: #d0ebff;
  --color-blue-lighter: #eef8ff;
  --color-aquamarine: aquamarine;
  --color-grey: #ddd;
  --color-grey-text: #888;
  --color-grey-lighter: #f7f7f7;
  --color-footer-background: #708b93;
  --font-sans: "Barlow", sans-serif;
  --font-condensed: "Barlow Condensed", sans-serif;
  --font-serif: "Alegreya", serif;
  --color-main: var(--color-blue-darker);
  --color-main-lighter: var(--color-blue-lighter);
  --color-sub: var(--color-grey);
  --color-body: var(--color-black);
  --color-reverse: var(--color-white);
  --color-meta: var(--color-grey);
  --color-meta-text: var(--color-grey-text);
  --color-meta-light: var(--color-grey-lighter);
  --color-background: var(--color-white);
  --font-title: var(--font-sans);
  --font-body: var(--font-serif);
  --font-meta: var(--font-sans)
}

.green {
  --color-black: #fff;
  --color-white: #232;
  --color-blue: gold;
  --color-blue-lighter: #7dbf7d;
  --color-blue-light: #e4ffe4;
  --color-grey: #ddd;
  --color-grey-text: #888;
  --color-grey-lighter: #f7f7f7;
  --font-sans: sans-serif;
  --font-serif: serif;
  --color-background: var(--color-white);
  --color-main: var(--color-blue);
  --color-main-lighter: var(--color-blue-lighter);
  --color-sub: var(--color-grey);
  --color-body: var(--color-black);
  --color-reverse: var(--color-white);
  --color-meta: var(--color-grey);
  --color-meta-text: var(--color-grey-text);
  --color-meta-light: var(--color-grey-lighter);
  --font-title: var(--font-sans);
  --font-body: var(--font-serif);
  --font-meta: var(--font-sans)
}

.orange {
  --color-black: #223;
  --color-white: #fff;
  --color-blue: orange;
  --color-blue-light: gold;
  --color-blue-lighter: lightblue;
  --color-grey: #ddd;
  --color-grey-text: #888;
  --color-grey-lighter: #f7f7f7;
  --font-sans: sans-serif;
  --font-serif: serif;
  --color-main: var(--color-blue);
  --color-main-lighter: var(--color-blue-lighter);
  --color-sub: var(--color-grey);
  --color-body: var(--color-black);
  --color-reverse: var(--color-white);
  --color-meta: var(--color-grey);
  --color-meta-text: var(--color-grey-text);
  --color-meta-light: var(--color-grey-lighter);
  --color-background: var(--color-white);
  --font-title: var(--font-sans);
  --font-body: var(--font-serif);
  --font-meta: var(--font-sans)
}

.themechanger {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  right: 0
}

.themechanger button {
  background: var(--color-background);
  color: var(--color-body);
  text-transform: uppercase;
  border: none;
  font-family: sans-serif
}

.themechanger .active {
  color: var(--color-main)
}

nav {
  font-family: var(--font-sans)
}

.topbar button {
  background: unset;
  border: 0;
  border-bottom: 1px solid var(--color-main)
}

.topbar {
  font-family: var(--font-sans);
  justify-content: space-between;
  align-items: baseline;
  gap: 5ch;
  padding: .5em 2ch .3em;
  font-weight: 600;
  display: flex;
  position: -webkit-sticky;
  position: sticky
}

.topbar .logo {
  font-weight: 400
}

.topbar .logo svg {
  fill: var(--color-main);
  width: 100px;
  height: auto
}

.topbar nav ul {
  align-items: last-baseline;
  justify-content: flex-end;
  gap: 5ch;
  font-style: italic;
  list-style-type: none;
  display: flex
}

.topbar nav ul a {
  word-spacing: .5ch;
  font-style: normal;
  text-decoration: none
}

.topbar nav ul a:hover {
  color: var(--color-main)
}

.topbar .menu-call {
  display: none
}

@media screen and (max-width:800px) {
  .topbar .menu-call {
    display: block
  }

  .topbar nav {
    display: none
  }

  .topbar nav.shown {
    display: flex
  }

  .topbar nav ul {
    flex-flow: column wrap;
    width: 100%
  }
}

.logo {
  border-bottom: 0;
  margin: 0;
  font-weight: 300;
  text-decoration: none
}

.logo h1 {
  margin: 0;
  font-weight: 300
}

main {
  min-height: 90vh
}

.single main {
  font-family: var(--font-sans);
  grid-template-columns: [img-start]minmax(32px, 1fr)[img-end content-start]3fr[content-end];
  gap: 5ch;
  margin: 0 5ch;
  display: grid
}

.single main p {
  max-width: 70ch
}

.single main img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0
}

.single article {
  grid-column: content;
  padding-bottom: 10em
}

body {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  font-family: var(--font-serif);
  color: var(--color-body);
  background: var(--color-background);
  font-weight: 400
}

section {
  scroll-margin: 5em
}

:-webkit-any(h1, h2, h3, h4, h5, h6) {
  font-weight: 600
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 600
}

.content :-webkit-any(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-sans);
  font-weight: 600;
  line-height: 1.3
}

.content :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-sans);
  font-weight: 600;
  line-height: 1.3
}

a {
  color: inherit;
  -webkit-text-decoration-color: inherit;
  text-decoration-color: inherit;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px
}

.metatitle {
  letter-spacing: .2ch;
  text-transform: uppercase;
  color: var(--color-meta-text);
  border-bottom: 1px solid var(--color-meta-text);
  width: -webkit-max-content;
  width: max-content;
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 1em;
  font-weight: 400
}

.article-list {
  max-width: 70ch;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.article-subjects {
  font-family: var(--font-meta);
  color: var(--color-main);
  margin: 0;
  padding: 0;
  font-weight: 600;
  list-style-type: none
}

.article-list h3 {
  margin-top: .3em;
  margin-bottom: .4em;
  font-size: 1.4em;
  font-weight: 300
}

.article-list h3 a {
  text-decoration: none
}

.article-list .article-meta {
  color: var(--color-meta-text);
  font-size: 1em;
  font-family: var(--font-meta);
  flex-wrap: wrap;
  gap: 0 3ch;
  display: flex
}

.article-list .article-meta p {
  margin: .3em 0 0
}

.article-impact-statement {
  margin: 0
}

.article-list .article-abstract {
  font-family: var(--font-meta);
  border-left: 2px solid var(--color-meta);
  margin-top: .8em;
  padding-left: 1ch
}

.article-list .article-abstract summary {
  color: var(--color-main);
  cursor: pointer;
  margin: .5em 0
}

.article-list .article-abstract summary:hover {
  background: var(--color-main-lighter)
}

.article-list .article-abstract[open] {
  background: var(--color-background)
}

.article-list>li {
  margin-top: 3.5em;
  padding-top: .5em;
  padding-bottom: .5em
}

.article-list>li:first-of-type {
  padding-top: 0
}

.sequence {
  word-wrap: break-word;
  word-break: break-all
}

.underline {
  text-underline-offset: 4px;
  text-decoration: underline
}

a:hover {
  background: var(--color-main-lighter)
}

strong {
  font-weight: 600
}

.meta {
  font-family: var(--font-sans)
}

footer {
  font-family: var(--font-sans);
  background: var(--color-footer-background);
  color: #fff;
  padding: 2em 10ch;
  position: relative;
  overflow: hidden
}

footer svg {
  fill: #8aa1a9;
  width: 80ch;
  position: absolute;
  right: 0
}

.journal-list main {
  padding: 0 5em
}

.journal-list main {
  max-width: 1300px;
  margin: auto
}

.journal-list main h1 {
  font-size: 1.3em;
  display: none
}

.journal-list main .journal {
  background: var(--journal-color-background);
  font-family: var(--font-sans);
  grid-template-columns: repeat(4, 1fr);
  gap: 1em 3ch;
  margin-top: 10em;
  margin-bottom: 18em;
  padding: 3em;
  display: grid
}

.journal-list main .journal * {
  grid-area: 1/3/auto/5
}

.journal-list main .journal figure {
  grid-column: 1/3;
  width: 100%;
  height: 100%;
  margin: -8em 0 0;
  padding: 0
}

.journal-list main .journal h4 {
  margin-bottom: 0
}

.journal-list main .journal .journal-volume {
  font-family: var(--font-serif);
  color: var(--journal-color-main)
}

.journal-list main .journal .journal-title {
  margin-top: 0;
  font-size: 1.4em;
  text-decoration: none
}

.journal-list main .journal .journal-title a {
  font-family: var(--font-serif);
  color: var(--journal-color-main);
  text-decoration: none
}

.journal-home main {
  margin: 0;
  padding: 0
}

.journal-home .intro-text {
  font-size: 1.1dem;
  font-family: var(--font-sans);
  max-width: 100ch;
  margin: 3em auto 2em
}

.journal-home .intro-text p {
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-bottom: .5em;
  margin-left: auto;
  padding: 1em;
  font-size: 1em
}

.journal-home .intro-text p a {
  color: var(--color-journal-main);
  text-underline-offset: 5px;
  max-width: -webkit-max-content;
  max-width: max-content;
  font-style: italic;
  display: block
}

.journal-home header {
  background: var(--color-journal-background);
  border-bottom: 2px solid var(--color-journal-main);
  border-top: 2px solid var(--color-journal-main);
  position: relative;
  overflow: hidden
}

.journal-home header .background {
  grid-gap: 2px;
  background: var(--color-journal-background);
  border-top: 2px solid var(--color-journal-main);
  opacity: .2;
  filter: grayscale(20);
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute
}

.journal-home header .background img {
  object-fit: cover;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%
}

.journal-home .intro {
  z-index: 2;
  font-family: var(--font-sans);
  max-width: 1000px;
  height: -webkit-max-content;
  height: max-content;
  margin: auto;
  padding: 5em 10ch;
  font-size: .9em;
  position: relative
}

.journal-home .intro h1 {
  color: var(--color-journal-main);
  font-size: 7em;
  line-height: 1;
  font-family: var(--font-serif);
  z-index: 2;
  max-width: -webkit-max-content;
  max-width: max-content;
  position: relative
}

.journal-home article {
  grid-template-columns: 2fr 3fr;
  gap: 4ch;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 3em 10ch 10em;
  display: grid
}

.journal-home article .issuecover {
  grid-area: 1/1/-1;
  width: 100%;
  height: 100%
}

.journal-home article .issuecover-img {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 3em
}

.journal-home article .issueintro {
  border-bottom: 1px solid var(--color-journal-main);
  grid-area: 1/2/-1;
  padding-bottom: 3em
}

.journal-home article .issueintro .meta {
  color: var(--color-journal-main)
}

.journal-home article .issueintro h2 {
  text-wrap: balance;
  color: inherit;
  font-size: 2.3em;
  font-weight: 800;
  font-family: var(--font-serif);
  margin-top: .3em;
  margin-bottom: .5em;
  line-height: 1.23
}

.journal-home article .journal-issue-list {
  font-family: var(--font-sans);
  grid-column: 2;
  gap: 2ch;
  max-width: 80ch;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.journal-home article .journal-issue-list li {
  margin-bottom: 4em
}

.journal-home article .journal-issue-list h3 {
  margin-bottom: .4em;
  font-size: 1.8em;
  text-decoration: none
}

.journal-home article .journal-issue-list h3 a {
  color: inherit;
  text-decoration: none
}

.journal-home article .journal-issue-list .authors {
  font-family: var(--font-condensed)
}

.journal-home article .journal-issue-list a {
  color: var(--color-journal-main)
}

.journal-single main {
  border-top: 1px solid var(--color-footer-background);
  font-family: var(--font-sans);
  grid-template-columns: [img-start]1fr[img-end content-start]3fr[content-end];
  gap: 10ch;
  margin: 0 5ch;
  display: grid
}

.journal-single .toc-journals {
  border-right: 1px solid gray;
  padding-top: 5vh;
  padding-bottom: 5vh
}

.journal-single .toc-journals ul {
  max-height: 100vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-y: scroll
}

.journal-single .toc-journals ul li {
  margin-bottom: 2em
}

.journal-single .toc-journals ul li p {
  margin: 0;
  display: inline-block
}

.journal-single .toc-journals ul li a {
  color: var(--color-journal-main);
  margin-right: 2ch;
  font-style: italic
}

.journal-single header {
  grid-column: 1/-1;
  display: none
}

.journal-single .toc-journals ul {
  margin: auto;
  padding: 2em 3ch
}

.journal-single .toc-journals ul h3 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.6em
}

.journal-single .toc-journals ul li p {
  margin-bottom: 1em;
  display: block
}

.journal-single .toc-journals ul li p a {
  grid-template-columns: 3ch 3fr;
  display: grid
}

.journal-single .toc-journals ul li p a img {
  background: var(--color-journal-background-dark);
  border: none;
  width: 100%;
  height: 200px
}

.journal-single .toc-journals ul li p a {
  text-decoration: none
}

.journal-single .issue {
  display: none
}

.journal-single .issue:target {
  display: block
}

.journal-single .issue {
  background: var(--color-journal-background);
  margin-top: 5em;
  padding: 5em
}

.journal-single .issue article {
  border-top: 5px solid var(--color-journal-main);
  padding-top: 5em;
  padding-bottom: 5em
}

.journal-single .issue .journal-reference {
  color: var(--color-journal-main);
  margin-bottom: 5em;
  font-size: 2em
}

.journal-single .issue .metadata {
  color: var(--color-journal-main)
}

.journal-single .issue .metadata a {
  text-decoration: none
}

.journal-single .issue .metadata a:after {
  content: " | ";
  color: gray;
  margin-left: 1ch;
  margin-right: 1ch;
  font-style: normal
}

.journal-single .issue .authorslist {
  font-size: 1.1em;
  font-family: var(--font-condensed);
  margin: 0;
  padding-left: 0
}

.journal-single .issue .authorslist li {
  display: inline
}

.journal-single .issue .authorslist li:after {
  content: ", "
}

.journal-single .issue .authorslist li:last-of-type:after {
  content: ""
}

.journal-single .issue h2 {
  color: var(--color-journal-main);
  margin-top: 0;
  padding-top: 1em;
  font-size: 1.7em;
  line-height: 1.1
}

.journal-single .issue .abstract {
  width: 80%;
  max-width: 60ch;
  margin: 4em 0 4em auto;
  line-height: 1.3
}

.journal-issue header {
  background: var(--color-journal-background);
  flex-grow: auto;
  font-family: var(--font-sans);
  display: flex
}

.journal-issue header .content {
  align-self: center;
  max-width: 50ch;
  padding: 1em 4ch
}

.journal-issue header .content a {
  margin-top: 3em;
  display: block
}

.journal-issue header figure {
  width: 100%;
  max-height: 30em;
  margin: 0;
  padding: 0;
  overflow: hidden
}

.journal-issue header img {
  object-position: center 30%;
  object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%
}

.journal-issue article {
  grid-template-columns: 60ch minmax(1px, 1fr);
  gap: 0 5ch;
  max-width: 1200px;
  margin: 10em auto auto;
  display: grid
}

.journal-issue article .issue-introblock {
  border-bottom: 1px solid var(--color-journal);
  padding-bottom: 1em
}

.journal-issue article .issue-introblock h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 600
}

.journal-issue article .issue-introblock .issue-volume {
  color: var(--color-journal)
}

.journal-issue article :-webkit-any(.issue-introblock, #articles) {
  grid-column: 2;
  align-self: end
}

.journal-issue article :is(.issue-introblock, #articles) {
  grid-column: 2;
  align-self: end
}

.journal-issue article .issue-cover {
  grid-row: 1/-1;
  position: -webkit-sticky;
  position: sticky;
  top: 2em
}

.journal-issue article img {
  min-width: 100%;
  min-height: 2em;
  display: block
}

.journal-issue article #articles ul {
  margin: 3em 0 0;
  padding: 0;
  list-style-type: none
}

.journal-issue header {
  margin-bottom: 4em
}

.journal-issue #articles ul {
  font-family: var(--font-sans);
  margin-top: 3em;
  list-style-type: none
}

.journal-issue #articles ul li {
  margin-bottom: 2em
}

.journal-issue #articles ul li a {
  color: inherit;
  text-decoration: none
}

.journal-issue #articles ul p {
  margin: 0
}

.journal-issue #articles ul .date {
  color: var(--color-journal)
}

.journal-issue #articles ul .introtext {
  font-family: var(--font-serif);
  font-size: 1.1em;
  font-weight: 300
}

.journal-issue #articles ul .authors {
  font-family: var(--font-condensed)
}

.journal-issue #articles ul h2 {
  color: var(--color-journal);
  margin: 0 0 .2em
}

.issue-introblock {
  font-family: var(--font-sans)
}

.issue-introblock h1 {
  font-family: var(--font-serif);
  font-size: 1.7em
}

.issue-introblock .issue-volume {
  color: var(--journal-main)
}

.article-single main article {
  grid-template-columns: [toc-start]1fr[toc-end content-start]3fr[content-end];
  margin: auto;
  display: grid
}

.article-single .article-content-wrapper {
  background: #fafafa;
  grid-column: content;
  min-height: 90vh;
  padding: 1em 5ch
}

.article-single .article-content-wrapper .article-content {
  max-width: 100ch;
  margin: auto
}

.article-single header {
  background: var(--color-journal-background-dark);
  color: #fff;
  font-family: var(--font-sans);
  padding: 3em 5ch
}

.article-single header .downloads h3 {
  text-transform: uppercase;
  margin-top: 5em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 400
}

.article-single header .download-links {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.article-single header .dl-type {
  text-transform: uppercase;
  letter-spacing: .5ch;
  font-weight: 800
}

.article-single header h1 {
  margin-bottom: .3em;
  font-size: 2.3em;
  line-height: 1.1
}

.article-single header .affiliationslist {
  font-size: 1.1em;
  font-family: var(--font-sans);
  font-variant: all-small-caps;
  margin: .6em 0;
  padding-left: 0;
  line-height: 1.1
}

.article-single header .affiliationslist li {
  display: inline
}

.article-single header .affiliationslist li:after {
  content: ", "
}

.article-single header .affiliationslist li:last-of-type:after {
  content: ""
}

.article-single header .authorslist {
  font-size: 1.1em;
  font-family: var(--font-condensed);
  margin: 0;
  padding-left: 0
}

.article-single header .authorslist li {
  display: inline
}

.article-single header .authorslist li:after {
  content: ", "
}

.article-single header .authorslist li:last-of-type:after {
  content: ""
}

.article-single .article-toc {
  font-family: var(--font-sans);
  max-width: 40ch;
  height: 100%;
  padding: .5em 5ch
}

.article-single .article-toc ol {
  padding: 0;
  list-style-type: none;
  position: -webkit-sticky;
  position: sticky;
  top: 3em
}

.article-single .article-toc ol li {
  margin-bottom: .5em
}

.article-single .article-toc a {
  text-decoration: none
}

.article-content {
  font-weight: 400
}

.article-content a {
  color: var(--color-journal);
  font-family: var(--font-sans);
  -webkit-text-decoration-color: var(--color-journal-background-dark);
  text-decoration-color: var(--color-journal-background-dark);
  font-size: .99em
}

.article-content :-webkit-any(h1, h2, h3) {
  font-family: var(--font-sans)
}

.article-content :is(h1, h2, h3) {
  font-family: var(--font-sans)
}

.article-content h3 {
  color: var(--color-journal-background-dark);
  font-size: 1.2em;
  font-family: var(--font-serif)
}

.article-content table {
  font-family: var(--font-sans);
  border-collapse: collapse;
  width: 100%
}

.article-content table tr td {
  border-bottom: 1px solid #000;
  padding: .4em 0
}

.article-content figure {
  border: 2px solid var(--color-journal-background-dark);
  background: #fff;
  margin: 4em 0;
  padding: 3em 5ch
}

.article-content figure figcaption {
  font-family: var(--font-sans);
  border-bottom: 1px solid var(--color-journal-background-main);
  margin-top: 2em;
  margin-left: 0
}

.article-content figure figcaption strong:first-of-type {
  background: var(--color-journal-background);
  padding: .3em 1ch .2em;
  display: inline-block
}

.article-single .article-thumb {
  background: var(--color-journal-main);
  margin: 0;
  padding: 0
}

.article-single .article-thumb img {
  object-fit: cover;
  border: 0;
  width: 100%;
  height: 100%
}

.article-single .article-toc-wrapper {
  max-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0
}

.article-single .article-toc-wrapper .article-toc {
  position: -webkit-sticky;
  position: sticky;
  top: 0
}

.journal-issues-grid main {
  padding: 4em 5ch
}

.journal-issues-grid .journal-issue-list {
  font-family: var(--font-sans);
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
  gap: 0 1ch;
  width: 90%;
  max-width: 100vw;
  margin: auto;
  padding: 0;
  list-style-type: none;
  display: grid
}

.journal-issues-grid .journal-issue-list li {
  align-items: end;
  display: grid
}

.journal-issues-grid .journal-issue-list li.vol-number {
  border-bottom: 1px solid var(--color-journal-background-dark);
  text-align: left;
  color: var(--color-journal-main);
  grid-column: 1/-1;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 2em
}

.journal-issues-grid .journal-issue-list li.vol-number .vol {
  color: var(--color-journal-background-dark);
  font-size: .7em;
  line-height: 1
}

.journal-issues-grid .journal-issue-list li a {
  font-size: 1.2em;
  text-decoration: none;
  position: relative
}

.journal-issues-grid .journal-issue-list li a img {
  border: 5px solid var(--color-journal-background-dark);
  width: 100%;
  height: 100%
}

.journal-issues-grid .journal-issue-list li a .issuenumber {
  z-index: 5;
  background: var(--color-journal-background-dark);
  color: #fff;
  width: 100%;
  padding: .4em 1ch;
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  right: 0
}

.home main {
  padding: 0
}

.home header {
  font-family: var(--font-sans);
  height: 80vh;
  position: relative
}

.home header img {
  object-fit: cover;
  width: 100%;
  height: 100%
}

.home .intro-text {
  font-family: var(--font-sans);
  background: #fffe;
  max-width: 80ch;
  padding: .8em 2ch;
  position: absolute;
  bottom: 0;
  left: 5ch
}

.home .intro-text strong {
  font-size: 1.6em
}

.home h2 {
  margin-top: 4em
}

.home #journals {
  font-family: var(--font-sans);
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5em;
  display: flex
}

.home #journals h2 {
  width: 100%;
  margin-bottom: 5em;
  padding: 0 5ch;
  font-weight: 600
}

.home #journals .home-journal {
  background: var(--journal-color-background);
  align-self: stretch;
  align-items: center;
  width: 50%;
  padding: 0 10ch 2em
}

.home #journals .home-journal .journal-cover {
  border: 2px solid #fff;
  margin: -4em auto 2em;
  display: block
}

.home #journals h4 {
  margin-bottom: 0
}

.home #journals .journal-volume {
  font-family: var(--font-serif);
  color: var(--journal-color-main);
  margin-top: 1.3em;
  margin-bottom: .5em
}

.home #journals .journal-title {
  color: var(--journal-color-main);
  font-size: 1.4em;
  font-weight: 600;
  font-family: var(--font-serif);
  margin-top: 0
}
