{% include "./snippets/start.njk" %}
<body class="home {{ class }} {% block bodyclass %}  {% endblock bodyclass %}">
    {% include "./snippets/menu.njk" %}
    <main>
        
        <header>
            <img src="/assets/images/iplaces1.jpg" alt="">
            <div class="intro-text">
                <p>
                    <strong>Iplaces</strong> is a platform that integrates tools focused on the critical early ‘field’ phases of research projects that sample and digitize social-ecological systems. It aims to serve and empower places, giving local stewards (and ordinary citizens) greater agency over the information generated in and about the people, culture and nature that constitute their place. Our approach is to innovate and disrupt the entire publishing model while still utilizing its key platforms, tools, and incentive structures.
                    <a href="/about">Read more</a>
                </p>
            </div>
        </header>
        <section id="journals">
            <h2 class="meta">Our journals</h2>
            <section class="home-journal"
                     id="tetiaroa-ecostation"
                     style="--journal-color-main:#4B8562;
                            --journal-color-background:#EFFFF5">
                <img class="journal-cover" src="/assets/images/cover-tetiaroa1.jpg" alt="">
                <div class="journal-intro">
                    <p>
                        <strong>Tetiaroa journal</strong> is a platform that integrates tools focused on the critical early ‘field’ phases of research projects that sample and digitize social-ecological systems. It aims to serve and empower places, giving local stewards (and ordinary citizens) greater agency over the information generated in and about the people, culture and nature that constitute their place. Our approach is to innovate and disrupt the entire publishing model while still utilizing its key platforms, tools, and incentive structures.
                    </p>
                </div>
                <p class="journal-title">
                    <a href="tetiaroa.iplaces.org">Access to Tetiaroa Ecostation</a>
                </p>
            </section>
            <section class="home-journal"
                     id="gump-station"
                     style="--journal-color-main:#008CAC;
                            --journal-color-background:#D9F8FF">
                <img class="journal-cover" src="/assets/images/cover-gumpstation1.jpg" alt="">
                <div class="journal-intro">
                    <p>
                        <strong>Gump Station</strong> is a platform that integrates tools focused on the critical early ‘field’ phases of research projects that sample and digitize social-ecological systems. It aims to serve and empower places, giving local stewards (and ordinary citizens) greater agency over the information generated in and about the people, culture and nature that constitute their place. Our approach is to innovate and disrupt the entire publishing model while still utilizing its key platforms, tools, and incentive structures.
                    </p>
                </div>
                <p class="journal-title">
                    <a href="gumpstation.iplaces.org">Access to Gump Station</a>
                </p>
            </section>
        </section>
    </main>
{% include "./snippets/footer.njk" %}

</body>

{% include "./snippets/end.njk" %}
