.journal-single main {
  border-top: 1px solid var(--color-footer-background);
  font-family: var(--font-sans);
  grid-template-columns: [img-start] 1fr [img-end content-start]3fr[content-end];
  gap: 10ch;
  margin: 0 5ch;
  display: grid;
}

.journal-single .toc-journals {
  border-right: 1px solid grey;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.journal-single .toc-journals ul {
  max-height: 100vh;
  overflow-y: scroll;

  position: sticky;
  top: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  & li {
    margin-bottom: 2em;
    & p {
      margin: 0;
      display: inline-block;
    }
    & a {
      margin-right: 2ch;
      font-style: italic;
      color: var(--color-journal-main);
    }
  }
}

.journal-single header {
  grid-column: 1/-1;
  display: grid;

  display: none;
}

.journal-single .toc-journals ul {
  /* border-right: 2px solid var(--color-journal-main); */
  padding: 2em 3ch;
  margin: auto;
  & h3 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.6em;
    margin-top: 2em;
  }

  & li p {
    display: block;
    margin-bottom: 1em;
    & a {
      display: grid;
      grid-template-columns: 3ch 3fr;

      & img {
        width: 100%;
        height: 200px;
        background: var(--color-journal-background-dark);
        border: none;
        /* border: 3px solid var(--color-journal-background-dark); */
      }
    }

    & a {
      text-decoration: none;
    }
  }
}

.journal-single .issue {
  display: none;
  &:target {
    display: block;
  }
}

.journal-single .issue {
  margin-top: 5em;
  padding: 5em;
  background: var(--color-journal-background);
  & article {
    padding-bottom: 5em;
    padding-top: 5em;
    /* border-bottom: 5px solid var(--color-journal-main); */
    border-top: 5px solid var(--color-journal-main);
  }
  & .journal-reference {
    color: var(--color-journal-main);
    /* text-transform: uppercase; */
    font-size: 2em;
    margin-bottom: 5em;
  }
  & .metadata {
    color: var(--color-journal-main);
    & a {
      text-decoration: none;
      /* font-style: italic; */
      &::after {
        font-style: normal;
        content: " | ";
        margin-left:1ch;
        margin-right:1ch;
        color: grey;
      }
    }
  }
  & .authorslist {
    font-size: 1.1em;
    margin-left: 0;
    padding-left: 0;
    margin: 0;
    font-family: var(--font-condensed);
    & li {
      display: inline;
      &::after {
        content: ", ";
      }
      &:last-of-type::after {
        content: "";
      }
    }
  }
  & h2 {
    margin-top: 3em;
    padding-top: 1em;
    margin-top: 0;
    color: var(--color-journal-main);
    font-size: 1.7em;
    line-height: 1.1;
  }
  & .abstract {
    margin: 4em 0;
    margin-left: auto;
    width: 80%;
    max-width: 60ch;
    line-height: 1.3;
  }
}





