{% include "./snippets/start.njk" %}

<body class="{{ config.group.name }}-body article-single">
    {# // use the menu from the groupname #}
    {% include "./snippets/menu.njk" %}
    <main>
        <aside class="meta-column">
            <div class="meta-column-content">
            <img src="/images/cover1.jpg" alt="">
            <div class="issue-meta">
                <p class="">volume number</p>
                <p class="">Issue year</p>
                <p class="shortid">{{ article.shortId }}</p>
            </div>
            <div class="logos">
                <img src="/images/openaccess.svg" alt="">
                <img src="/images/cc.svg" alt="">
            </div>
            <div class="downloads">
                <a href="#pdflink"></a>
                <a href="#xmllink"></a>
            </div>
            <div class="numbers"></div>
            <div class="dates">
                <ul class="toc-meta-dates">
                    {% if article.parsedSubmission.dateReceived %}
                    <li>
                        Received:
                        <span>{{ article.parsedSubmission.dateReceived | renderDate | safe }}</span>
                    </li>
                    {% endif %}
                    {% if article.parsedSubmission.dateAccepted %}
                    <li>
                        Accepted: <span>{{ article.parsedSubmission.dateAccepted | renderDate | safe }}</span>
                    </li>
                    {% endif %}
                    {% if article.parsedSubmission.datePublished %}
                    <li>
                        Published: <span>{{ article.parsedSubmission.datePublished | renderDate | safe }}</span>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="citations"></div>
            </div>
        </aside>
        <article>
            <header>
                <h1>
                    {{ article.headerInfo.title }}
                    {# {% include "./snippets/bclabel.njk" %} #}
                </h1>
                <ul class="authorslist">
                    {% for author in article.headerInfo.authorNames %}
                    <li class="author metadata"><span class="author-name">{{- author.firstName -}}&nbsp;{{- author.lastName -}}</span></li>
                    {% endfor %}
                </ul>
                <ul class="affiliationslist">
                    <span class="author-affiliations">{{- article.headerInfo.authorNames | arrayToString('affiliation',
                        'trim') -}}</span>
                </ul>
                {# are there any keywords in kotahi? #}
                {% if article.parsedSubmission.keywords %}
                <h2>Keywords</h2>
                <p class="keywords">{{ article.parsedSubmission.keywords }}</p>
                {% endif %}
                {% if article.parsedSubmission.AuthorCorrespondance %}
                <p class="authoremail">
                    Corresponding author: <a href="mailto:{{ article.parsedSubmission.AuthorCorrespondance }}">{{
                        article.parsedSubmission.AuthorCorrespondance }}</a>
                </p>
                {% endif %}
            </header>
            <section class="article-content-wrapper">
                <div class="article-content">
                    <div class="article-abstract">
                        <h2>Abstract</h2>
                        {{ article.parsedSubmission.$abstract | safe }}
                    </div>
                    {{ article.meta.source | addIDtoTitles | safe }}
                </div>
            </section>
        </article>
    </main>
    {% include "./snippets/footer.njk" %}
    {% include "./snippets/end.njk" %}
</body>
