{% include "snippets/start.njk" %}
<body class="{% block bodyclass %} {% endblock bodyclass %}">
    {# // search and submit button #}
    {# // logo #}
    {# // menu #}
    {% includes "./snippets/menu.njk" %}
    <main>
    </main>
    {% block partners %}
        {% include "_partials/partners.njk" %}
    {% endblock %}
    {% block footer %}
        {% include "_partials/footer.njk" %}
    {% endblock %}
</body>
{% include "snippets/end.njk" %}
