{% include "./snippets/start.njk" %}
<body class="journal-home {% block bodyclass %} {% endblock bodyclass %}">
    {# // search and submit button #}
    {% include "./snippets/menu.njk" %}
    <header>
        <div class="wrapper">
            <section class="heading">
                <p class="home-issn">
                    Online ISSN <span class="home-issn-number shouldComeFromKotahi">journal-issn</span>
                </p>
                <h1>Material Chemistry Horizon</h1>
            </section>
            <section class="intro">
                <p>
                    Materials Chemistry Horizons publishes high-quality articles in the broad field of science and
                    technology in all fields of materials and chemistry. Topics covered in the journal include but not
                    limited to design, synthesis, characterization, and application of materials in:
                </p>
                <p>
                    Medicinal chemistry and biomedical engineering (drug/gene delivery, cancer therapy, tissue
                    engineering, diagnosis and bioimaging, electrochemical detection, and bio-sensing)
                </p>
                <p>
                    Energy generation and storage (fuel cells, solar cells, magnetic and semiconductor materials, water
                    splitting, hydrogen production, and storage)
                </p>
                <p>Food chemistry</p>
                <p>
                    Environmental chemistry (sensors, catalysts, membranes, surface modifications and coatings,
                    corrosion and degradation, food packaging, and water treatment)
                </p>
                <p>Green chemistry</p>
                <p>Nanomaterials</p>
                <p>3D and 4D printing</p>
            </section>
        </div>
    </header>
    <section class="team">
        <h2>
            Chief Editors <a href="/board/">Editorial Board</a>
        </h2>
        <ul class="editors">
            {% for editor in team %}
                <li>
                    <img src="" alt="" class="portrait">
                    <p class="name">{{ editor.name }}</p>
                    <p class="affiliation">{{ editor.affiliation }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% include "./snippets/subfooter.njk" %}
    <main>
        {# {% block content %}{{ content | safe }}{% endblock %} #}
        {# journal 3 latest articles #}
        {% include "./snippets/journal-latest-three.njk" %}
        <section class="mostdownloaded subcontent">
            <section class="downloaded">
                {% include "./snippets/journal-most-cited.njk" %}
            </section>
            <section class="cited">
                {% include "./snippets/journal-most-dl.njk" %}
            </section>
        </section>
        {# journal team #}
        {# journal bar #}
        {# real footer #}
    </main>
    {# {% block footer %} #}
    {% include "./snippets/footer.njk" %}
    {# {% endblock %} #}
</body>
{% include "./snippets/end.njk" %}
