@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_slnt-wght.ttf");
  font-weight: 100 900;
  font-style: normal italic;
}


@font-face {
  font-family: "Noto Serif";
  src: url("./fonts/NotoSerif-VariableFont_wdth\,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}


@font-face {
  font-family: "Noto Serif";
  src: url("./fonts/NotoSerif-Italic-VariableFont_wdth\,wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}
