@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_slnt-wght.ttf");
  font-weight: 100 900;
  font-style: normal italic;
}


@font-face {
  font-family: "Noto Serif";
  src: url("./fonts/NotoSerif-VariableFont_wdth\,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}


@font-face {
  font-family: "Noto Serif";
  src: url("./fonts/NotoSerif-Italic-VariableFont_wdth\,wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans-VariableFont_wdth\,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}


@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}





/*Poppins*/

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-MediumItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
