<aside class="topbar">
        {% include "_partials/logo.njk" %}
    <nav>
        <ul>
            {% for cmsHeaderPage in (cmsLayout.flaxHeaderConfig | reorderPages) %}
                {% if cmsHeaderPage.menu == true or cmsHeaderPage.menu == "true" %}
                    <li>
                        <a 
                        class="{% if cmsHeaderPage.url == page.url %}active{% endif %}" 
                        href="{{cmsHeaderPage.url}}"
                        title="{{ cmsHeaderPage.title }}">
                        {{ cmsHeaderPage.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</aside>