<aside class="topbar">
        {% include "_partials/logo.njk" %}
    <nav>
        <ul>
            {% for cmsPage in cmsPages.pages | filterByOrder %}
                {% if cmsPage.meta.menu == true or cmsPage.meta.menu == "true" %}
                    <li>
                        <a 
                        class="{% if cmsPage.meta.url == page.url %}active{% endif %}" 
                        href="{{cmsPage.meta.url}}"
                        title="{{ cmsPage.title }}">
                        {{ cmsPage.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</aside>