<footer>
    <section>
        {% include "./logo.njk" %}
        <p>Tetiaroa Society</p>
        <p>Legal ref ? Contact ?</p>
    </section>
    <section class="newsletter">
        <h2>Newsletter subscription</h2>
        <p>Subscribe to the journal newsletter and receive the latest news and updates</p>
        <input type="text" name="email" value="" placeholder="person@someone.com">
    </section>
    <section class="links">
        <a href="#">Academics</a>
        <a href="#">linkedin</a>
        <a href="#">x/twitter</a>
        <a href="#">Telegram</a>
        <a href="#">Whatsapp</a>
    </section>
</footer>
