<footer>
    <section class="footer-links">
        <div class="logo">{% include "./logo.njk" %}</div>
        <div class="footer-meta">
            <ul class="footer-cms-page-listing">
                {% for cmsFooterPage in (cmsLayout.flaxFooterConfig | reorderPages) %}
                    {% if cmsFooterPage.shownInMenu == true or cmsFooterPage.shownInMenu == "true" %}
                        <li class="pageListItem">
                            <a href="{{ cmsFooterPage.url }}" title="{{ cmsFooterPage.title }}">{{ cmsFooterPage.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    <a href="#">Proposing or transfering journal</a>
                </li>
                <li>
                    <a href="#">Terms and conditions</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Disclaimer</a>
                </li>
            </ul>
            <p class="lang">
                {% include "./icons/lang.njk" %}
                English | United Kingdom
            </p>
            <p class="copyright">Copyright 2024 UniverSci Press Ltd — All Rights Reserved.</p>
        </div>
    </section>
    <section class="newsletter">
        <h2>Newsletter subscription</h2>
        <p>Subscribe to the journal newsletter and receive the latest news and updates</p>
        <input type="text" name="email" value="" placeholder="person@someone.com">
    </section>
    <ul class="links">
        {# <li> #}
        {#     <a href="#">{% include "./icons/academy.njk" %}</a> #}
        {# </li> #}
        <li>
            <a href="https://www.linkedin.com/in/materials-chemistry-horizons-95059123a/">{% include "./icons/linkedin.njk" %}</a>
        </li>
        <li>
            <a href="https://twitter.com/MaterialsChemi2">{% include "./icons/xtwitter.njk" %}</a>
        </li>
        <li>
            <a href="https://t.me/universci">{% include "./icons/telegram.njk" %}</a>
        </li>
        <li>
            <a href="https://api.whatsapp.com/message/L4ZMQRLU3IROE1?autoload=1&app_absent=0">{% include "./icons/whatsapp.njk" %}</a>
        </li>
    </ul>
</footer>
