<section class="article-in-press">
    <h2>Most Downloaded</h2>
    <ul class="article-list">
        <li>
            <p class="pagenumber">pages 298-307</p>
            <h3>Article title that may end on multiples lines, maybe 2, maybe 3, who knows.</h3>
            <p class="author-names">
                <span>Surname Name</span>,
                <span>Surname Name</span>,
                <span>Surname Name</span>
            </p>
            <img src="/assets/images/article1.jpg" alt="visualabstract">
        </li>
        <li>
            <p class="pagenumber">pages 298-307</p>
            <h3>Article title that may end on multiples lines, maybe 2, maybe 3, who knows.</h3>
            <p class="author-names">
                <span>Surname Name</span>,
                <span>Surname Name</span>,
                <span>Surname Name</span>
            </p>
            <img src="/assets/images/article1.jpg" alt="visualabstract">
        </li>
        <li>
            <p class="pagenumber">pages 298-307</p>
            <h3>Article title that may end on multiples lines, maybe 2, maybe 3, who knows.</h3>
            <p class="author-names">
                <span>Surname Name</span>,
                <span>Surname Name</span>,
                <span>Surname Name</span>
            </p>
            <img src="/assets/images/article1.jpg" alt="visualabstract">
        </li>
    </ul>
</section>
