<section class="article-in-press">
    <h2>Most Downloaded</h2>
    <ul class="article-list">
        <li>
            <p class="meta-org">
                <span class="type">Research Article</span>
                <span class="pagenumber">Article #22</span>
            </p>
            <h3>
                <a href="">Article title that may end on multiples lines, maybe 2, maybe 3, who knows.</a>
            </h3>
            <p class="author-names">
                <span>Surname Name</span>,
                <span>Surname Name</span>,
                <span>Surname Name</span>
            </p>
            <img src="/assets/images/article1.jpg" alt="visualabstract">
        </li>
        <li>
            <p class="meta-org">
                <span class="type">Research Article</span>
                <span class="pagenumber">Article #22</span>
            </p>
            <h3>
                <a href="">Article title that may end on multiples lines, maybe 2, maybe 3, who knows.</a>
            </h3>
            <p class="author-names">
                <span>Surname Name</span>,
                <span>Surname Name</span>,
                <span>Surname Name</span>
            </p>
            <img src="/assets/images/article1.jpg" alt="visualabstract">
        </li>
        <li>
            <p class="meta-org">
                <span class="type">Research Article</span>
                <span class="pagenumber">Article #22</span>
            </p>
            <h3>Article title that may end on multiples lines, maybe 2, maybe 3, who knows.</h3>
            <p class="author-names">
                <span>Surname Name</span>,
                <span>Surname Name</span>,
                <span>Surname Name</span>
            </p>
            <img src="/assets/images/article1.jpg" alt="visualabstract">
        </li>
    </ul>
</section>
