<aside class="topbar">
    <section class="top">
        {% include "./logo.njk" %}
        {# journal intro #}
        <p>Material Chemistry Horizon</p>
        <p class="labels">
            <span class="label">Cite Score <span class="score">10.1</span></span>
            <span class="label">Impact factor <span class="score">10.1</span></span>
            <span class="logo-open-access">logo open access</span>
            <span>open access</span>
        </p>
        <div class="cover">
            <img src="/assets/images/mch/cover1.jpg" alt="">
        </div>
    </section>
    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/issues/">issues list</a>
            </li>
            <li>
                <a href="/issues/1/">issues single</a>
            </li>
            <li>
                <a href="/about/">page single</a>
            </li>
            <li>
                <a href="/articles/1/">article single</a>
            </li>
            <li class="submit">submit</li>
            <input class="search" type="text">
        </ul>
    </nav>
</aside>
