<section class="subfooter">
    <div class="subwrapper">
        <ul class="sub-meta">
            <li>
                <span class="metatitle">$0 (free)</span>
                <span class="metatext">Article publishing charge for Open Access</span>
            </li>
            <li>
                <span class="metatitle">3 Days</span>
                <span class="metatext">Time to first editorial decision</span>
            </li>
            <li>
                <span class="metatitle">30 Days</span>
                <span class="metatext">Peer-review time</span>
            </li>
            <li>
                <span class="metatitle">60 Days</span>
                <span class="metatext">Submission to acceptance</span>
            </li>
            <li>
                <span class="metatitle">77%</span>
                <span class="metatext">Acceptance rate</span>
            </li>
        </ul>
    </div>
</section>
