<script>
  /*menu show hide button*/
    document.querySelector(".menu-call").addEventListener("click", function() {
        document.querySelector('.topbar nav').classList.toggle('hide');
    })


</script>
