---
title: About us Page
permalink: /aboutus.html
layout: about.njk
menu: true
---

{% block content %}
    <main>
        <header>
            {{ flaxPage.about_us.content.header | safe }}
        </header>

        <div>
            {{ flaxPage.about_us.content.body | safe  }}
        </div>

        <div>
            {{ flaxPage.about_us.content.footer | safe  }}
        </div>
    </main>
{% endblock %}

