{% extends '../layouts/base.njk' %}
{% block bodyclass %}
    single
{% endblock bodyclass %}
{% block content %}
    <main>
        <header>
            {{ headerblock | markdownify | safe }}
        </header>
        <article class="content">{{ content  | safe }}</article>
    </main>
{% endblock %}
