{% extends '../layouts/base.njk' %}
{% block bodyclass %}
    single
{% endblock bodyclass %}
{% block content %}
    <main>
        <header>
            <h1>{{ title }}</h1>
            {% if headerblock %}{{ headerblock | markdownify | safe }}{% endif %}
        </header>
        <article class="content">{{ content  | safe }}</article>
    </main>
{% endblock %}
