{% extends '../layouts/base.njk' %}
{% set currentPage = article %}
{% set title = article.meta.title %}
{% block content %}
    <main>
        <div class="article-preview-header">
            <span class="topics"> {{article.parsedSubmission.topics | getTopics}}  </span>
            <span class="article-title"> {{article.meta.title}}</span>
             <ul class="authors metadata">
                {% for author in article.parsedSubmission.authorNames.value %}
                    <li class="author metadata">
                        <span class="author-name">{{- author.firstName -}}&nbsp;{{- author.lastName -}}</span>
                        {% if author.email %}
                            <a class="email" href="mailto:{{ author.email }}">{% include "_partials/icon-email.njk" %}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <ul class="authors">
                <li class="author metadata">
                    <span class="author-affiliation">{{- article.parsedSubmission.authorNames.value | arrayToString('affiliation', 'trim') -}}</span>
                </li>
            </ul>

            <span class="header-doi-and-licenses">
                <a href="{{ article.parsedSubmission.DOI.value}}"> {{article.parsedSubmission.DOI.value}} </a>
                {% if cmsLayout.publishConfig.licenseUrl %}
                        <a href="{{cmsLayout.publishConfig.licenseUrl}}">
                        {{cmsLayout.publishConfig.licenseUrl}}
                        </a>
                {% endif %}
            </span> 

            <p class="published-date">
                Published on <time datetime="article.publishedDate">{{ article.publishedDate | replace('Z','') | postDate }}</time>
            </p>
        </div>
        <div class="horizontal-line"> <hr/> </div>
        <div class="article-content">
            <div class="meta-data">
                <aside class="toc-wrapper">
                    <h3>Table of contents</h3>
                        {{ article.meta.source | addIDtoTitles |  toc({"tags":["h2","h3", "figure"]})   | safe }}
                      
                        {% if collections.supplementaryFiles.length > 1 %}
                            <li class="main">
                                <a href="#supplementary">Supplementary Files</a>
                            </li>
                        {% endif %}
                        {% if article.editors.length > 0 %}
                            <li>
                                <a href="#editors">Editors</a>
                            </li>
                        {% endif %}
                        {% if article.reviews.length > 0 %}
                            <li>
                                <a href="#reviews">Reviews</a>
                            </li>
                        {% endif %}
                        {% if article.decisions.length > 0 %}
                            <li class= "">
                                <a href="#decisions">Summary</a>
                            </li>
                        {% endif %}
                </aside>
            </div>
            <article>
                <section class="manuscript">
                    {% if  article.meta.source %}
                        <section id="article" class="article">
                            {{ article.meta.source |  addIDtoTitles |  imagesHandler(article.shortId, 'articles', config.group)   | safe }}
                        </section>
                    {% endif %}
                    {% if collections.supplementaryFiles.length > 1 %}
                        <section>
                            <h2 id="supplementary">Supplementary Files</h2>
                            {% for item in collections.supplementaryFiles %}
                                {% if article.shortID in item %}
                                    <a href="{{ item | replace('static', '')}}" download>{{ item | cleanLink }}</a>
                                {% endif %}
                            {% endfor %}
                        </section>
                    {% endif %}
                      {% if article.editors.length > 0 %}
                        <h3 id="editors">Editors</h3>
                        {%for editor in article.editors %}
                            <section class="content">
                                {# <p class="editor-role">{{ editor.role }}</p> #}
                                <p class="user-name">{{ editor.name }}</p>
                            </section>
                        {% endfor %}
                    {% endif %}
                    {% if article.reviews.length > 0 %}
                        <h3 id="reviews">Reviews</h3>
                        {%for review in article.reviews %}
                            <section class="content">
                                <p class="user-name">{{ review.user.username }}</p>
                                {% for reviewData in review.jsonData%}
                                    <div class="review-field">
                                        {{ reviewData.text |safe }}
                                    </div>
                                {% endfor%}
                            </section>
                        {% endfor %}
                    {% endif %}
                    {% if article.decisions.length > 0 %}
                        <h3 id="decisions">Summary</h3>
                        {%for decision in article.decisions %}
                            <section class="content">
                                <p class="user-name">{{ decision.user.username }}</p>
                                {% for decisionData in decision.jsonData%}
                                    <div class="review-field">
                                        {{ decisionData.text |safe }}
                                    </div>
                                {% endfor%}
                            </section>
                        {% endfor %}
                    {% endif %}
                </section>
            </article>
        </div>
    </main>
{% endblock %}