{% if config.group.name == "tetiaroa" %}
    {% include "./tetiaroa/base.njk" %}
{% elif config.group.name == "gumpstation" %}
    {% include "./gumpstation/base.njk" %}
{% elif config.group.name == "iplaces" or config.group.name == "pbr" %}
    {% include "./iplaces/base.njk" %}
{% else %}
    {% include "./default/base.njk" %}
{% endif %}
