{% extends "base.njk" %}

{% block content %}
    <main>
        <header>
            <h1>{{title}}</h1>
            <section class="intro">{{content | safe}}</section>
        </header>

        <section class="section-latest">
            {% include "_partials/list-articles.njk" %}
        </section>

    </main>
{% endblock %}