{% if config.group.name == "tetiaroa" %}
    {% include "./tetiaroa/page-details.njk" %}
{% elif config.group.name == "gumpstation" %}
    {% include "./gumpstation/page-details.njk" %}
{% elif config.group.name == "iplaces" or config.group.name == "prc" %}
    {% include "./iplaces/page-details.njk" %}
{% else %}
    {% include "./default/page-details.njk" %}
{% endif %}
