
{% include "snippets/start.njk" %}

<body class="{% block bodyclass %} {% endblock bodyclass %}">
{% includes "./snippets/menu.njk" %}
    <main>
        {% block content %}{{ content | safe }}{% endblock %}
    </main>
    {% block partners %}
        {% include "_partials/partners.njk" %}
    {% endblock %}
    {% block footer %}
        {% include "_partials/footer.njk" %}
    {% endblock %}
</body>
{% include "snippets/end.njk" %}
