{% set currentPage = cmsPage %}
{% include "./snippets/start.njk" %}
<body class="single">
    {% include "./snippets/menu.njk" %}
    {% set currentPage = cmsPage %}
    <main>
        <div class="empty"></div>
        <header>
            <h1>{{ cmsPage.title }}</h1>
        </header>
        <div class="emptybis">
            <img class="cover" src="/assets/images/tetiaroa-about.jpg" alt="" />
        </div>
        <article class="content">
            <div class="content-text">{{ cmsPage.content | safe }}</div>
        </article>
    </main>
    {% include "./snippets/footer.njk" %}
</body>
{% include "./snippets/end.njk" %}
